<div class="chat-container">
  <h1>
    Welcome to ChatSphere!<%= user && user.username ? ', ' + user.username :
    'anonymous' %>
  </h1>
  <div id="chat-messages" class="chat-messages"></div>

  <div class="message-input">
    <input type="text" id="message-box" placeholder="message..." />
    <button id="send-message"><i class="fas fa-paper-plane"></i></button>
  </div>
</div>
<script>
  const username = "<%= user && user.username ? user.username : 'anonymous' %>";
</script>
